$colorWhite: #fff;
$colorWhiteRGBA: rgba( 255, 255, 255, .3 );
$colorBlue: #1880C7;
$colorDarkBlue: #232653;
$colorDarkBlueRGBA: rgba( 35, 38, 83, .5 );;
$colorOrange: #FA4F05;
$colorDarkOrange: #C73E04;
$colorMiddleBlue: #0056b3;