.alert-move-right {
  -webkit-animation: alert-move-right 0.5s ease-in 0s forwards;
  -moz-animation: alert-move-right 0.5s ease-in 0s forwards;
  -o-animation: alert-move-right 0.5s ease-in 0s forwards;
  animation: alert-move-right 0.5s ease-in 0s forwards; }

.alert-move-left {
  -webkit-animation: alert-move-left 0.5s ease-in 0s forwards;
  -moz-animation: alert-move-left 0.5s ease-in 0s forwards;
  -o-animation: alert-move-left 0.5s ease-in 0s forwards;
  animation: alert-move-left 0.5s ease-in 0s forwards; }

@-webkit-keyframes alert-move-right {
  0% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); } }
@-moz-keyframes alert-move-right {
  0% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); } }
@-o-keyframes alert-move-right {
  0% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); } }
@keyframes alert-move-right {
  0% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  100% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); } }
@-webkit-keyframes alert-move-left {
  0% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); } }
@-moz-keyframes alert-move-left {
  0% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); } }
@-o-keyframes alert-move-left {
  0% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); } }
@keyframes alert-move-left {
  0% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); } }
.fade-transition {
  -webkit-transition: opacity .3s linear 0s, z-index .3s linear 0s;
  -o-transition: opacity .3s linear 0s, z-index .3s linear 0s;
  -moz-transition: opacity .3s linear 0s, z-index .3s linear 0s;
  transition: opacity .3s linear 0s, z-index .3s linear 0s; }

.fade-out {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -1; }

.fade-in {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  z-index: 1; }

html {
  font-size: 1rem; }

body {
  margin: 0;
  padding: 0;
  background-color: #232653;
  word-wrap: break-word; }

#root-wrapper {
  min-width: 320px;
  max-width: 1680px;
  margin: 0 auto; }

.root-center {
  width: 80%;
  margin: 0 auto; }

header {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(50%, rgba(35, 38, 83, 0.5))), url("../images/header-bg.jpg") no-repeat;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3), rgba(35, 38, 83, 0.5) 50%), url("../images/header-bg.jpg") no-repeat;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.3), rgba(35, 38, 83, 0.5) 50%), url("../images/header-bg.jpg") no-repeat;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.3), rgba(35, 38, 83, 0.5) 50%), url("../images/header-bg.jpg") no-repeat;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(35, 38, 83, 0.5) 50%), url("../images/header-bg.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

main {
  margin-bottom: 5rem; }

#site-title {
  color: #232653; }

#root-header-headline {
  line-height: 1.5; }

#root-header-middle {
  padding: 10rem 0 15rem 0; }

.action-button {
  background-color: #FA4F05;
  border: 1px solid #C73E04;
  color: inherit;
  -webkit-transition: border-color 0.3s ease-out 0s;
  -o-transition: border-color 0.3s ease-out 0s;
  -moz-transition: border-color 0.3s ease-out 0s;
  transition: border-color 0.3s ease-out 0s; }

.action-button:hover {
  border-color: #fff;
  color: inherit;
  text-decoration: none; }

#root-content-lining {
  margin-top: -5rem;
  background-color: #fff; }

.table-tr:hover {
  background-color: #dee2e6; }

.textarea-lining {
  height: 10rem; }

.textarea {
  resize: none; }

.notify {
  min-height: 1rem; }

.input-email {
  padding-left: 2.5rem;
  margin-left: 2px; }

.alert {
  width: 20%;
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 3; }

.admin-menu-lining {
  width: 5rem;
  position: fixed;
  top: 100%;
  right: 0;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%); }

.admin-menu-item {
  width: 4rem;
  height: 4rem;
  color: #fff;
  text-decoration: none;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  background-color: #232653;
  border: 2px solid #fff;
  outline: none; }

.admin-menu-item:hover {
  color: #0056b3; }

/*# sourceMappingURL=index.css.map */
